[submodule "sites/all/modules/ubercart"]
	path = sites/all/modules/ubercart
	url = git@github.com:hernad/ubercart.git
[submodule "sites/all/modules/uc_pdf_invoice"]
	path = sites/all/modules/uc_pdf_invoice
	url = git@github.com:hernad/uc_pdf_invoice.git
[submodule "sites/all/modules/easyrec_for_ubercart"]
	path = sites/all/modules/easyrec_for_ubercart
	url = git@github.com:hernad/easyrec_for_ubercart.git
[submodule "sites/all/modules/jcarousel"]
	path = sites/all/modules/jcarousel
	url = git@github.com:hernad/jcarousel.git
